#credentials:
#        default:
#                user: "default_user"
#                pass: "example_pw"
#        10.1.0.1:
#                user: "default_user"
#                pass: "example_pw"

exclude_sensor_ids:
  - 18
  - 19
  - 32
  - 33
  - 50
  - 52
  - 55
  - 80
  - 81
  - 82
  - 83
  - 84
  - 85
  - 86
  - 87
